/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace cx "components.*";
@namespace components "net.projectschedule.gui.components.*";
@namespace gui "net.projectschedule.gui.*";
@namespace skins "net.projectschedule.gui.skins.*";
@namespace view "net.projectschedule.gui.view.*";

components|AppHeader s|Label{
	fontWeight: bold;
	color: #FFFFFF;
}
components|NavButton s|Button{
	verticalAlign: middle;
}
components|NavButton s|Button:down{
	backgroundColor: #E8E8E8;
}
components|NavButton s|Button:up{
	backgroundColor: #121212;
}

.blackRect {
	fillColor: #000000;
	radiusX: 0;
	radiusY: 0;
}
.maunen{
	fillColor:#dddddd;
}
/*cx|BanTinContent{
	fontSize: 16px;
}*/

skins|LichDangKy s|BorderContainer{
	borderWeight: 1px;
	backgroundColor :#dddddd;
}

view|BanTinConTent
{
	skinClass:ClassReference("net.projectschedule.gui.skins.BanTinConTentSkin");
}

skins|TraCuuLichCaNhan s|BorderContainer{
	borderWeight: 1px;
	backgroundColor :#dddddd;
}
skins|LichTongQuat s|BorderContainer{
	borderWeight: 1px;
	backgroundColor :#dddddd;
}
view|LichTongQuat
{
	skinClass:ClassReference("net.projectschedule.gui.skins.LichTongQuatSkin")	
}

view|LichDangKy
{
	skinClass:ClassReference("net.projectschedule.gui.skins.LichDangKySkin")
}
view|TraCuuLichCaNhan
{
	skinClass:ClassReference("net.projectschedule.gui.skins.TraCuuLichCaNhanSkin")
}

view|LichXinNghi
{
	skinClass:ClassReference("net.projectschedule.gui.skins.LichXinNghiSkin")
}

s|List.noneBorder{
	borderVisible:"false" 
}
